body
    margin: 0px
    padding: 0px
    display: block
    width: 100%
    background: #010207
    font-size: $browser-context + px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: $regular
    color: #ffffff
    position: relative
.clear 
    display: block
    width: 100%
    clear: both
    margin: 0px
    padding: 0px
a
    color: inherit
    &:hover
        color: inherit
.block
    float: left
    width: 100%
    display: block
    position: relative
input, select
    border-radius: 0!important
.form-group
    margin-bottom:9px!important