@import '../css/fonts/fonts.css'
@import variables
@import functions
@import partials


@import header
@import footer
@import home

.terms
    position: relative
    color: #c31237
    display: block
    float: left
    line-height: 22px
    &:before
        right: 101%
        top: 0
        bottom: 0
        background: 
            image: url('../assets/arrow-left-01.png')
            repeat: no-repeat
            size: contain
            position: center center
        width: 12px
        height: 13px
        margin: auto
        content: ''
        position: absolute
    @include breakpoint(mobile)
        float: none

footer
    &.inside
        position: absolute
        bottom: 0
        left: 0
        right: 0
        @include breakpoint(mobile)
            position: relative
    .copy
        height: 63px
        div 
            height: inherit
            position: relative
            &.advertiesement
                font-size: 10px
                text-align: center
                padding:
                    top: 15px
                    bottom: 15px
                @include breakpoint(mobile)
                    margin: 15px 0
            img
                vertical-align: middle
                margin: auto
                position: absolute
                left: 0
                right: 0
                bottom: 0
                top: 0
                @include breakpoint(mobile)
                    position: relative
                    marign: 0 auto
        @include breakpoint(mobile)
            height: auto
            display: block
            position: relative
            float: left
    .terms-home
        text-align: right
        @include breakpoint(mobile)
            text-align: center
            margin:
                bottom: 25px
                top: 15px
.btn-type-01
    background: #610b1e
    color: #c4173c
    font-size: 27px
    width: 70px
    height: 41px
    line-height: 41px
    text-align: center
    transition: all 0.3s ease-in
    padding: 0
    border-radius: 0
    display: block
    &:hover, &:focus
        outline: 0
        color: #fff
div.home
    background:
        image: url('../assets/bg-home.jpg')
        repeat: no-repeat
        size: 100% 100%
        position: center center
    min-height: 645px!important
    
    position: relative
    img
        margin: 0 auto
    h1 
        font: 
            size: 30px
        margin:
            top: 55px
            bottom: 37px
            left: auto
            right: auto
        width: 90%
        @include breakpoint(mobile)
            width: 100%
    .container
        position: relative
        height: inherit
        
    .content
        max-height: 569px
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
        @include breakpoint(mobile)
            position: relative
            padding:
                top: 100px
                bottom: 40px
            max-height: inherit
            left: inherit
            right: inherit
            top: inherit
            bottom: inherit
        
    .confirmation
        margin:
            top: 33px
        color: #650a1f
        p 
            margin: 0
            font-size: 15px
            line-height: 17px
        h3
            font-size: 23px
            line-height: 25px
            margin:
                top: 11px
                bottom: 10px
        .btns
            .btn-type-01
                display: inline-block
        .enter
            margin:
                top: 36px
            a.arrow-down 
                position: relative
                display: block
                width: 100%
                &:hover, &:focus
                    text-decoration: none
                    color: inherit
                &:after
                    position: absolute
                    left: 0
                    right: 0
                    top: 100%
                    width: 55px
                    height: 14px
                    content: ''
                    background:
                        image: url('../assets/arrow-down-01.png')
                        repeat: no-repeat
                        size: contain
                        position: center center
                    margin: auto
    @include breakpoint(tablet2)
        height: 100%!important
        background:
            size: cover
            position: 40%
header
    &.home
        position: absolute
        left: 0
        right: 0
        top: 0
        z-index: 2
    &.inside
        position: relative
        left: 0
        right: 0
        top: 0
        z-index: 2
        background:
            image: url('../assets/bg-header-inside.png')
            size: 100%
            position: center top
            repeat: no-repeat
        .terms-inside
            height: 69px
            text-align: left
            padding-top: 44px
            @include breakpoint(mobile)
                text-align: center
                height: 80px
                padding-top: 20px
        @include breakpoint(mobile)
            background:
                size: auto 30%
                position: 40% 0%
    @include breakpoint(mobile)
        img
            margin: 0 auto
        
div.inside
    background:
        image: url('../assets/fondo-des.jpg')
        size: cover
        repeat: no-repeat
        position: 50% 80%
    padding:
        bottom: 30%
    @include breakpoint(mobile)
        background:
            image: url('../assets/fondo-mov.jpg')
            position: center bottom 
            size: auto 70%
        padding-bottom: 90%
    h1
        margin-bottom: 25px
form
    .parsley-errors-list
        padding: 0
        list-style: none
        position: absolute
        top: 0
        padding-left: 10px
        width: 100%
        li 
            text-align: left
            font-size: 12px
            width: 100%

    .form-group
        
        label
            font-size: 13px
            padding:
                left: 0
                right: 0
            @include breakpoint(mobile)
                text-align: right!important
        input, select
            background: #c10d33
            border-color: #c10d33
            color: #fff
            font:
                size: 12px
            border-radius: 0
        input
            &::-webkit-input-placeholder
                color:    #7a172c
            &:-moz-placeholder 
                color:    #7a172c
                opacity:  1
            &::-moz-placeholder
                color:    #7a172c
                opacity:  1
            &:-ms-input-placeholder
                color:    #7a172c
            &::-ms-input-placeholder 
                color:    #7a172c
            
        &.direccion
            label
                padding:
                    top: 0
                @include breakpoint(mobile)
                    text-align: center!important
                &.big
                    font-size: 20px 
                    line-height: 35px
            .row
                margin:
                    left: -12px
                    right: -14px
                @include breakpoint(mobile)
                    margin:
                        left: -15px
                        right: -15px

                select
                    position: relative
                    left: -3px
                    display: block
                    @include breakpoint(mobile)
                        left: 0
                        margin:
                            bottom: 10px
            .adicional
                .row
                    margin:
                        left: -15px
                        right: -15px
                        top: 9px
            
        &.codigo
            margin-top: 20px
            label
                text-align: center!important
                font-size: 14px
                margin-bottom: 10px
    .warning
        margin-top: 10px
        clear: both
        p 
            color: #c10d33
            font:
                size: 16px
            text:
                align: center
    button
        background: 
            image: url('../assets/send-hm.png')!important
            repeat: no-repeat
            size: contain
            position: center top
            color: transparent!important
        height: 34px
        width: 67px
        color: #fff
        border: none!important
        border-radius: 0!important
        padding: 
            top: 0!important
            left: 0!important
            right: 0!important
            bottom: 12px!important
        font:
            size: 17px!important
        margin-top: 20px
        &:focus, &:hover
            color: #fff
    .radio
        .parsley-errors-list
            top: 100%
            width: 100%!important
            li 
                width: 100%
                text-align: center
        ul
            list-style: none
            margin: 0
            padding: 0
            li 
                position: relative
                display: inline-block
                float: left
                width: 50%
                height: auto
                input[type=radio]
                    position: absolute
                    visibility: hidden
                    &:checked ~ .check:before
                        background: #fff!important

                label
                    display: block
                    position: relative
                    z-index: 9
                    cursor: pointer
                    transition: all 0.25s linear
                    color: #c10d33
                    font-size: 18px
                    text-align: left
                    @include breakpoint(tablet)
                        padding-left: 5px
                    @include breakpoint(mobile)
                        padding-left: 20px
                .check
                    position: absolute
                    display: block
                    position: absolute
                    border: 4px solid #c10d33
                    border-radius: 100%
                    height: 21px
                    width: 21px
                    top: 8px
                    right: 0px
                    &:before
                        display: block
                        position: absolute
                        content: ''
                        border-radius: 100%
                        height: 13px
                        width: 13px 
                        top: 0px 
                        left: 0px 
                        margin: auto
                        background: #c10d33
                        transition: background 0.25s linear
                        -webkit-transition: background 0.25s linear 
                &:hover
                    label
                        color: #fff

.modal-type-01
    .modal-content
        box-shadow: none
        border: none
        border-radius: 0
        max-width: 480px
        margin: auto
        padding: 10px
        background:
            image: url('../assets/bg-home.png')
            repeat: no-repeat
            size: 100% 100%
            position: center center
            color: transparent!important
        .close
            opacity: 1
        .modal-header
            padding: 0
            border: none
        .modal-footer
            padding: 0
            border: none
        .modal-body
            padding: 0
            text-align: center
            img
                margin: 0 auto
        h1
            font-size: 49px
            margin: 0
            @include breakpoint(mobile)
                font-size: 35px
        h3
            font-size: 26px
            margin: 0
            width: 80%
            margin: 0 auto
        h4
            font-size: 17px
            margin: 0 auto
            width: 80%
        a 
            width: 65%
            text-decoration: underline
            display: block
            margin: 0 auto
            font-size: 15px
        p 
            font-size: 16px
            line-height: 18px
    &#modal-nada
        h1
            margin-top: 70px
        h3
            width: 75%
            margin-bottom: 15px
        a 
            width: 70%
            margin-bottom: 24px
        img
            width: 100%
        .modal-content
            padding: 10px 0 14px
        .modal-header
            padding-right: 10px
            padding-top: 5px
    &#modal-gracias
        h1
            margin-top: 70px
            margin-bottom: 62px
        .modal-header
            padding-right: 10px
            padding-top: 5px
        .modal-body
            img
                margin-bottom: 65px
        .modal-content
            padding: 10px 0 14px
    &#modal-error, &#modal-usado
        a 
            margin-bottom: 45px
        .modal-body
            img
                margin-top: 10px
                margin-bottom: 20px
    &#modal-usado
        h4
            &:nth-child(3)
                margin-top: 22px
                margin-bottom: 9px
    &#modal-error
        h4
            &:nth-child(4)
                margin-top: 22px
                margin-bottom: 9px
    &#modal-gorra, &#modal-pack
        img
            margin-top: 41px
            margin-bottom: 20px
        h3
            width: 85%
            margin-bottom: 15px
        p
            width: 60%
            margin: 0 auto
            margin-bottom: 25px
        .modal-footer
            a 
                
                color: #c20f35
                font:
                    size: 21px
                position: relative
                line-height: 24px
                height: 45px
                margin: 0 auto
                margin-bottom: 40px
                display: block
                text:
                    decoration: none
                    align: center!important
                background:
                    image: url('../assets/send-lightbox.png')
                    position: center top
                    size: 140px 41px
                    repeat: no-repeat
                
    &#modal-gorra
        h3
            margin-bottom: 0
        h4
            margin-bottom: 0px
            font-size: 16px
        h5
            margin-bottom: 27px
            font-size: 14px
            margin-top: 0
        p
            width: 70%
            margin-bottom: 40px
    &#modal-terminos
        div.terminos
            margin-top: 25px
            padding: 0 15px
            height: 400px
            overflow-y: scroll
            margin-bottom: 40px
            text-align: justify
            ul 
                padding-left: 10px
    &#modal-datos
        .modal-content
            padding: 10px 21px
            @include breakpoint(mobile)
                //max-height: 550px
                //overflow: scroll 
            
        h1
            font-size: 22px
            text-align: center
            width: 80%
            margin: 0 auto
            margin-bottom: 30px
            margin-top: 50px
            @include breakpoint(mobile)
                margin-top: 10px
                margin-bottom: 10px
        form
            @extend form
            input, select
                background: #252122!important
                border:
                    color: #252122!important
                height: 30px
                &::-webkit-input-placeholder
                    color:    #cecece!important
                &:-moz-placeholder 
                    color:    #cecece!important
                    opacity:  1
                &::-moz-placeholder
                    color:    #cecece!important
                    opacity:  1
                &:-ms-input-placeholder
                    color:    #cecece!important
                &::-ms-input-placeholder 
                    color:    #cecece!important
            ul 
                li
                    label
                        color: #fff!important
                    .check
                        border: 4px solid #252122!important
                        &:before
                            background: #252122!important
            button
                background:
                    image: none!important
                    color: #fff!important
                color: #c20f35!important
                padding-bottom: 0!important
                font-size: 20px!important
                line-height: 22px!important
                height: 30px!important
                padding: 3px!important
                position: relative
                display: block

                margin: 35px auto 25px!important
                @include breakpoint(mobile)
                    margin: 15px auto 35px!important
                &:after
                    content: ''
                    position: absolute
                    display: block
                    top: 105%
                    left: 0
                    right: 0
                    margin: auto
                    width: 33px
                    height: 9px
                    background:
                        image: url('../assets/arrow-down-03.png')
                        position: center top
                        size: contain
                        repeat: no-repeat
.modal-type-winner
    .modal-content
        box-shadow: none
        border: none
        border-radius: 0
        max-width: 400px
        margin: auto
        padding: 10px
        background:
            image: url('../assets/bg-winner.png')
            repeat: no-repeat
            size: 100% 100%
            position: center center
            color: transparent!important
        color: #6c5630
        .close
            opacity: 1
        .modal-header
            padding: 0
            border: none
        .modal-footer
            padding: 0
            border: none
        .modal-body
            padding: 0
            text-align: center
            img
                margin: 0 auto
        h1 
            font-size: 31px
            width: 90%
            margin: 0 auto 0
        h3
            font-size: 24px
            width: 100%
            margin: 34px auto 11px
        h4
            font-size: 21px
            margin: 15px auto 0px
        a 
            width: 65%
            text-decoration: underline
            display: block
            margin: 0 auto
            font-size: 15px
        p 
            font-size: 14px
            width: 70%
            margin: 0 auto
            line-height: 16px
        .modal-footer
            a 
                background: 
                    image: url('../assets/btn-send-winner.png')
                    repeat: no-repeat
                    position: center top
                    size: contain
                width: 162px
                height: 44px
                position: relative
                display: block
                text-align: center
                color: #fff
                font-size: 16.5px
                margin: 25px auto 30px
                text-decoration: none
                line-height: 20px